
body
{
    background: url("Imagenes/fondo6.jpg") ;
    background-size: 150%;
    background-width: 100%;

}



h1{

    color:#000080;
    background: #AED6F1;
    font-weight:bold;
    margin-left:15px;
    margin-right:15px;
    margin-top:10px;
    padding-bottom:10px;
    font-size:30px;
    text-align:center;
}


h3{
    color: #873600;
    font-weight:bold;
    margin-left:30px;
    margin-right:30px;
    margin-top:35px;
    padding-bottom:20px;
    font-size:20px;

}
h4{
    color: #85C1E9;
    font-weight:bold;
    margin-left:30px;
    margin-right:30px;
    margin-top:35px;
    padding-bottom:20px;
    font-size:45px;

}
.miInput{
background-color: lightgray;
    border-radius: 5px;
}

#caja1 {
    border:2px solid;
    border-radius:5px;
    padding: inherit;
    text-align: center;
    font-family: arial;
    background: #FAD7A0 ;
}

#caja2 {
    border:2px solid;
    border-radius:10px;
    background-color:#F7F9F9;
    text-align: match-parent;
    font-family:Courrier;
    height: 25em;
    width: 25em;
    margin-left:30px;
    margin-right:30px;
    margin-top:35px
}

#caja3 {
    border:2px solid;
    border-radius:10px;
    background-color:#2ECC71  ;
    text-align: center;
    align-content: center;
    font-family:Courrier;
    height: 22em;
    width: 15em;
    margin-left:30px;
    margin-right:30px;
    margin-top:35px
}

#caja4 {
    border:2px solid;
    border-radius:10px;
    background-color:#2ECC71  ;
    text-align: center;
    align-content: center;
    font-family:Courrier;
    height: 5;
    width: 5;

}

.alineamiento{

}
